extends layout

block content
  h1= title
  
  .container-fluid
    .row
      -
        let items = results

      each item in results 
        .col-sm-2 
          .item 
            h3= item.guitar
            p Guitar Brand: #{item.guitar_type}
            p Model: #{item.model}
            p Cost: #{item.cost}

