extends layout

block content
  h1= title
  
  .container-fluid
    .row
      -
        let results = [
          { guitar: "Guitar 1", guitar_type: "Classical", model: "Yahama", cost: 900 },
          { guitar: "Guitar 2", guitar_type: "Electric", model: "Ibanez", cost: 1200 },
          { guitar: "Guitar 3", guitar_type: "Base", model: "Fender", cost: 700 },
          { guitar: "Guitar 4", guitar_type: "Archtop", model: "Imben", cost: 950}
        ]

      each item in results 
        .col-sm-2 
          .item 
            h3= item.guitar
            p Guitar Brand: #{item.guitar_type}
            p Model: #{item.model}
            p Cost: #{item.cost}
        
