block content
  h1= title
  - let guitars=results
  //- button.btn( class="btn-primary ml-1", onclick= destinationcreate) Create
  div(class="container-fluid")
  div(class="row m-1")
    each guitar in guitars 
      div(class="col-ml-1 btn btn-light") #{guitar._id} - #{guitar.guitar_type} - #{guitar.model} - #{guitar.cost}